body{
    background-color: #12372A;
}
.name{
    
    font-family: 'Shadows Into Light', cursive;
     color: #FBFADA;
    font-size: 9rem;
}
.subname{
    font-family: 'Merriweather', serif;
    color: #ADBC9F;
    font-size: 3em;
}
 .about{
    text-align: center;
    background-color: #436850;
    font-family: 'Merriweather', serif;
    color: #ADBC9F;
    font-size: 1.2rem;
    }  
 .img{
    padding-bottom: 20px;
    margin:auto;
    width: 50%;
 }  
 .photo{
    border-radius:55%;
    margin-top: 50px;
    margin-bottom: 20px;
 }   
 hr{border-top: 5px dotted #ADBC9F;
     width: 10%; 
     margin: 50px auto 50px auto;

 }

 .head2 ,.head3{
font-family: 'Merriweather', serif;
 color: #ADBC9F;
 font-size:2em;
}
.flex1{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 5%;
    
}
.grid1{
    display: grid;
    gap: 3%;
    grid-template-columns: 90px 90px 90px 90px;

}
.skill_list{
 list-style: none;
font-family: 'Merriweather', serif;
font-size: 1.5em;
 color: #BFD8AF;
 padding 30px;
 margin: 30px;


}
.list1{
    border: #436850 solid;
    border-radius:8%;
    padding: 0;

}
.img1{
    position: relative;
    top:25%;
}
.skill_heading{
    display: flex;
    justify-content: left;
}
.projects{
    background-color: #436850;
    padding-bottom: 40px;
}
.head3{
    padding-top: 30px;
}
.project_border{
    border: #FBFADA solid;
    padding: 30px;
    border-radius: 5%;
}
.link{
    color: #BFD8AF;
    margin-top:15px;
    text-decoration:none;

}
.footer{
    background-color: #436850;
    padding-bottom: 15px;
    text-align: center;
    color: #BFD8AF;
}


@media(max-width:500px)
{
    .skill_heading{
    display: flex;
    justify-content:center;
}
.flex1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    gap: 40px;
    
}
.img1{
    position: relative;
    top:2%;
}
.project_border{
    border: #FBFADA solid;
    padding: 30px;
    border-radius: 5%;
    text-align: center;
    width:60%
}
</style>